<section>
    <nz-upload [(nzFileList)]="fileList" [nzTransformFile]="beforeUpload" [nzBeforeUpload]="beforeUpload">
        <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
      </nz-upload>
      <button
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [disabled]="fileList?.length == 0"
        style="margin-top: 16px"
      >
        {{ uploading ? 'Uploading' : 'Load File' }}
      </button>
</section>
